.doctor-schedule-wrapper {
    .time-btn {
        background-color: #FFF8AE;
        padding: 8px 16px;
        margin: 10px 0;
    }

    .calendar-icon {
        font-size: 1.6rem;
        margin-right: 10px;
    }

    .calendar span {
        font-weight: 500;
    }

    .doctor-schedule-select {
        text-align: center;
        padding: 5px 0;
        font-weight: 600;
        outline: none;
        cursor: pointer;
        border: none;
        border-bottom: 1px solid;
        margin-bottom: 10px;
        width: 170px;
    }
}

@media (max-width: 576px) {
    .doctor-schedule-wrapper {
        .time-btn {
            width: 130px;
        }
    }
}