.admin-menu {
    height: 60px;
    background-color: #45C3D2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn-admin-menu {
        font-size: 1rem;

        &:hover {
            color: black;
        }

        &:focus {
            color: blue;
        }

    }

    .btn-exit {
        font-size: 2rem;
        margin-right: 20px;
        cursor: pointer;
        user-select: none;
    }

    .dropdown-menu-admin {
        display: flex;


        .dropdown {

            .dropdown-toggle {
                background-color: transparent;
                border: none;

                &:focus {
                    box-shadow: none;
                }


            }

            .dropdown-menu {
                width: 200px;
                padding-left: 10px;
                padding-right: 10px;


                .dropdown-item {
                    padding: 0;
                }

                .btn-admin-menu {
                    margin: 0;
                }
            }
        }


    }
}

@media (max-width:576px) {
    .admin-menu {
        .btn-admin-menu {
            font-size: .8rem;
        }

        .btn-exit {
            font-size: 1.5rem;
        }
    }
}